{% extends 'base.html' %}
{% block title_p %}
    {% include 'includes/btn_dashboard.html' %}
{% endblock %}
{% block content %}
    <div id="workday_sheet" class="container">
        <div><h3><u>{{ title }}</u></h3></div>
            {% csrf_token %}
            <table class="table  align-items-center">
                <thead>
                <tr>
                    <th hidden>id</th>
                    <th>Дата</th>
                    <th>День недель</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for workday in workdays %}
                    <tr class="workday_row {% if today == workday.date %}fw-bolder{% endif %}">
                        <td hidden><input type="hidden" name="id" value="{{ workday.id }}"/></td>
                        <td>{{ workday.date }}</td>
                        <td>{{ workday.weekday }}</td>
                        <td class="form-switch">
                            <input type="checkbox" role="switch" class="form-check-input status_{{ workday.id }} m-1 p-0"
                                   aria-label=""
                                   onchange="toggleWorkdayStatus(this, '{{ workday.id }}')"
                                   name="status_{{ workday.id }}" {% if workday.status %}checked{% endif %}
                                   {% if today > workday.date %}disabled {% endif %}
                            />
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>



{% endblock %}