{% extends 'base.html' %}
{% block title_p %}
    {% include 'includes/btn_dashboard.html' %}
{% endblock %}
{% block content %}
    <div id="users" class="container">
        <div><h3><u>{{ title }}</u></h3></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Username</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Должность</th>
                <th>Телефон</th>
                <th>Последний вход</th>
            </tr>
            </thead>
            <tbody>
            {% for user_item in users_list %}
                <tr id="{{ user_item.id }}" 
                    {% if user.post in 'administrator mechanic' %}
                    onclick=" location.href = `/edit_user/?user_id=${this.id}`"
                    {% endif %}
                >
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user_item.username }}</td>
                    <td>{{ user_item.last_name }}</td>
                    <td>{{ user_item.first_name }}</td>
                    <td>{% for title, post in user_post.items %}
                        {% if title == user_item.post %}{{ post }}{% endif %}
                    {% endfor %}
                    </td>
                    <td>{% if user_item.telephone %}{{ user_item.telephone }}{% endif %}</td>
                    <td>{% if user_item.last_login %}{{ user_item.last_login }}{% endif %}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}
{% block footer %}
    <div></div>
    <div>
        <a href="{% url 'edit_user' %}" class="btn btn-sm btn-success" type="button">Добавить пользователя</a>
    </div>
    <div></div>
{% endblock %}