{% extends 'base.html' %}
{% block title_p %}
    {% include 'includes/btn_dashboard.html' %}
{% endblock %}
{% block content %}
    <div id="users" class="container">
        <div><h3><u>{{ title }}</u></h3></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Username</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Должность</th>
                <th>Телефон</th>
                <th>Последний вход</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
                <tr id="{{ user.id }}" onclick=" location.href = `/edit_user/?user_id=${this.id}`">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{% for title, post in user_post.items %}
                        {% if title == user.post %}{{ post }}{% endif %}
                    {% endfor %}
                    </td>
                    <td>{% if user.telephone %}{{ user.telephone }}{% endif %}</td>
                    <td>{% if user.last_login %}{{ user.last_login }}{% endif %}</td>
{#                    <td class="m-0 ">#}
{#                        <a href="{% url 'edit_user'  %}?user_id={{ user.pk }}" class="btn btn-sm btn-outline-primary m-0" type="button"><i class="fa-regular fa-pen-to-square"></i></a></td>#}
{#                    <td class="m-0 ps-0">#}
{#                        <a href="{% url 'delete_user' %}?user_id={{ user.id }}" class="btn btn-sm btn-outline-danger m-0" type="button"><i class="fa-solid fa-trash"></i></a>#}
{#                    </td>#}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}
{% block footer %}
    <div></div>
    <div>
        <a href="{% url 'edit_user' %}" class="btn btn-sm btn-success" type="button">Добавить пользователя</a>
    </div>
    <div></div>
{% endblock %}