{% extends 'base.html' %}
{% block content %}
    
    <div id="register_form" class="container-sm translate-middle-x position-absolute start-50 mt-5">
        <div id="messages_div"
             class="alert alert-success"
             style="display: block; text-align: center;"
        >
            <p>Если вы <span class="fw-bolder">уже зарегистрированные</span>, но забыли пароль,
                <br> то вы можете <a href="{% url 'restore_password' %}">сбросить пароль</a></p>
            <a class="btn btn-primary end-0"
               href="{% url 'register' %}?confirmed=True"
            >Понятно</a>
        </div>
    </div>
{% endblock %}