{% extends 'base.html' %}
{% block content %}
    <div id="login_form" class="translate-middle-x position-relative start-50 mt-5">
        <form method="post" id="form_login">{% csrf_token %}
            <div>
                <label class="w-100">Логин (Фамилия или телефон)
                    <input type="text" class="form-control" name="username" 
                           placeholder="напр: Петров или 1234567">
                </label>
            </div>
            <div>
                <label class="w-100">Пароль
                    <input type="password" class="form-control" name="password" placeholder="1234">
                </label>
            </div>
            {% if error %}
                <p class="m-0 error_message">{{ error }}</p>
            {% endif %}
            <br>
            <div class="navbar">
            <a href="{% url 'restore_password' %}" class="small">Забыли пароль</a>
            <span style="text-align: right"><button type="submit" class="btn btn-success">Вход</button></span>    
            
                </div>
        </form>
    </div>
{% endblock %}
