{% extends 'base.html' %}
{% block content %}
    
    <div id="register_form" class="translate-middle position-absolute top-50 start-50">
        <form method="post" id="form_register">{% csrf_token %}
            <div>
                <label>Логин (Фамилия)*
                    <input type="text" class="form-control" name="username" placeholder="напр: Петров" required>
                </label>
            </div>
            <div>
                <label>Пароль*
                    <input type="password" class="form-control" name="password" placeholder="1234" required>
                </label>
            </div>
            <div>
                <label>Имя*
                    <input type="text" class="form-control" name="first_name" placeholder="Петр" required>
                </label>
            </div>
            <div>
                <label>Фамилия*
                    <input type="text" class="form-control" name="last_name" placeholder="напр: Петров" required>
                </label>
            </div>
            <div>
                <label>Телефон
                    <input type="tel" class="form-control" name="telephone" placeholder="+375(25)1234567">
                </label>
            </div>
            <div class="mt-2">
                <label>Должность
                    <select id="post_select" class="form-control" name="post" onchange="selectPost(this)">
                        {% for post, title in user_posts.items %}
                            {% if post == 'employee' %}<option selected value="{{ post }}">{{ title }}</option>
                            {% else %}<option value="{{ post }}">{{ title }}</option>
                            {% endif %}
                        
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="mt-2" id="foreman_select_div" style="display: none">
                <label>Прораб
                    <select id="foreman_select" class="form-control" name="supervisor_id" disabled>
                        {% for foreman in foreman_list %}                            
                        <option value="{{ foreman.id }}">{{ foreman.last_name }} {{ foreman.first_name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>


            {% if error %}
                <p class="m-0 error_message">{{ error }}</p>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-success btn-sm" form="form_register" style="float: right">Зарегистрировать</button>
        </form>
    </div>
{% endblock %}