#main_header{
    min-height: 2vh;
    max-height: max-content;
    z-index: 1000;

    width: 100vw;
    background-color: rgba(52,58,64,0.89);
    color: aliceblue;
}
#main_content_box{
    align-items: start;
    width: 100vw;
    height: 90vh
}
#main_left_nav{
    width: 5vw;
    height: 100%;
}
#main_right_nav{
    width: 5vw;
    height: 100%
}
#main_content{
    width: 90vw;
    overflow-scrolling: auto;
    height: 100%;
}
#main_footer{
    /*border: solid red;*/
    min-height: 2vh;
    max-height: max-content;
}

/* LOGIN FORM ************/
#login_form{
    /*padding-left: 10px;*/
    /*border-left: 5px solid #494f54;*/
    padding: 5px;
    padding-left: 10px;
    border: 1px solid black;
    /*border-left: 5px solid #494f54;*/
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}
.error_message{
    font-weight: bolder;
    color: red;
    font-size: small;
}

/* REGISTER FORM ************/

#register_form{
    padding: 5px;
    padding-left: 10px;
    border: 1px solid black;
    /*border-left: 5px solid #494f54;*/
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}

#workday_sheet{
    margin-top: 20px;
    box-shadow: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#technics{
    margin-top: 20px;
    /*box-shadow: 5px 5px 20px 5px;*/
    border: 1px solid black;
    /*border-radius: 10px;*/
}
#edit_technic{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}
#users{
    margin-top: 20px;
    /*box-shadow: 5px 5px 20px 5px;*/
    border: 1px solid black;
    /*border-radius: 10px;*/
}
#edit_user{

}