#main_header {
    min-height: 2vh;
    max-height: max-content;
    z-index: 1000;

    width: 100%;
    background-color: rgba(52, 58, 64, 0.89);
    color: aliceblue;
}

#main_content_box {
    align-items: start;
    width: 100vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0);
}

#main_content {
    width: 100%;
    overflow-scrolling: auto;
    /*height: 100%;*/
    /*height: max-content;*/
}
#spec_panel{
    border: solid 1px black;
    width: min-content;
    height: 80vh;
    margin-bottom: -10px;
    padding: 0;
}


#main_footer {
    width: 100%;
    background-color: rgba(73, 79, 84, 0.32);
}

/* LOGIN FORM ************/
#login_form {
    min-width: max-content;
    max-width: 30vw;
    padding: 5px 5px 5px 10px;
    /*border: 1px solid black;*/
    /*border-left: 5px solid #494f54;*/
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px;
}
/*#form_login div, label, input{*/
/*    width: 100%;*/
/*}*/
#form_login label{
    font-weight: bolder;
}

.error_message {
    font-weight: bolder;
    color: red;
    font-size: small;
}

/* REGISTER FORM ************/

#register_form {
    min-width: max-content;
    max-width: 30vw;
    padding: 5px 5px 5px 10px;
    border: 1px solid black;
    /*border-left: 5px solid #494f54;*/
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}
/*#form_register div, label{*/
/*    width: 100%;*/
/*}*/
#form_register label{
    font-weight: bolder;
}


#workday_sheet {
    margin-top: 20px;
    width: max-content;
    box-shadow: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#technics {
    margin-top: 20px;
    width: max-content;
    /*box-shadow: 5px 5px 20px 5px;*/
    border: 1px solid black;
    /*border-radius: 10px;*/
}

#edit_technic {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}

#users {
    margin-top: 20px;
    width: min-content;
    /*box-shadow: 5px 5px 20px 5px;*/
    border: 1px solid black;
    /*border-radius: 10px;*/
}

#edit_user {
    width: max-content;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}

#driver_sheet {
    margin-top: 20px;
    width: 22rem;
    box-shadow: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
#technic_sheet {
    /*width: max-content;*/
    max-width: max-content;
    box-shadow: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#construction_site .construction_site_card {
    background-color: rgba(247, 247, 248, 0.75)
}

#edit_construction_site {
    /*padding-left: 10px;*/
    /*border-left: 5px solid #494f54;*/
    width: auto;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid black;
    /*border-left: 5px solid #494f54;*/
    border-radius: 2%;
    box-shadow: 5px 5px 20px 5px;
}

.material_description {
    height: min-content;
    overflow: hidden;
}

.app_tech_description {
    height: min-content;
    overflow: hidden;
}
.text_area_description {
    height: min-content;
    overflow: hidden;
}

.application_items {
    width: 20rem;
    margin-bottom: 30px;
}
.application_items_saved {
    width: 20rem;
    margin-bottom: 30px;
}

.application_items_border {
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px;
}

.application_status {
    margin: -5px 0 0;
    font-size: small;
    text-align: center;
    font-weight: bolder;
}

.technic_driver_selects {
    display: none;
}

.technic_driver_selects_add {
    display: none;
}

#btn_add_technic_sheet {
    display: none;
}

.autoresize {
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
.el_reject{
    text-decoration-line: line-through;
}

#conflicts_list{
    width: max-content;
}
/*#conflict_resolution{*/
/*    width: max-content;*/
/*}*/

.conflict_resolution_items{
    width: 18rem;
}

.general_application_description_font{
}
.general_tech_description_font{
    font-size: 10pt;
}
.general_mat_description_font{
    font-size: 10pt;
}

#edit_application{
    margin-bottom: 7rem;
    /*width: max-content;*/
    min-width: max-content;
    max-width: 20vw;
}


.AP-conflict-title{
    color: red;
}
.AP-priority-title{
    color: blue;
}
.AP-cancelled-title{
    color: rgba(97,95,95,0.51);
}
.AP-isChecked-title{
    color: rgba(97,95,95,0.51);
}
.AP-not_work-title{
    text-decoration-line: line-through;
}
.AP-empty-title{
    color: darkorange;
}


