<div class="dropdown">
    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
        <b><i class="fa-solid fa-list"></i></b>
        {#        <b>{% if user.last_name %}{{ user.last_name }}{% else %}{{ user.username }}{% endif %}</b>#}
    </button>


    {% if user.post == 'administrator' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li>
            <span class="dropdown-item">
            
                <a class="btn btn-sm btn-secondary" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-1 small fw-bolder text-decoration-underline">{% if user.last_name %}{{ user.last_name }}
                {{ user.first_name }}{% else %}{{ user.username }}{% endif %}</span>
                </a>
                
            <a class="btn btn-sm btn-secondary" href="{% url 'settings' %}"><span><i
                    class="fa-solid fa-gear"></i></span></a></span>
            </li>

            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'application_for_driver' %}?current_day={{ current_day.date.isoformat }}">Заявки на технику</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'construction_site' %}">Объекты</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'work_days' %}">Табель Рабочие дни</a></li>
            <li><a class="dropdown-item" href="{% url 'driver_sheet' %}?current_day={{ current_day.date.isoformat }}">Табель Водители</a></li>
            <li><a class="dropdown-item" href="{% url 'technic_sheet' %}?current_day={{ current_day.date.isoformat }}">Табель Техника</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'technics' %}">Техника</a></li>
            <li><a class="dropdown-item" href="{% url 'users' %}">Персонал</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>

{#            {% if user.is_staff %}#}
{#                <li>#}
{#                    <hr class="m-0">#}
{#                </li>#}
{#                <li><a class="dropdown-item" href="{% url 'test' %}">test</a></li>#}
{#            {% endif %}#}
        </ul>

    {% elif user.post == 'foreman' or user.post == 'master' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-2 small fw-bolder text-decoration-underline"
            >{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}
                {{ user.username }}{% endif %}</span></a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'application_for_driver' %}?current_day={{ current_day.date.isoformat }}">Заявки на технику</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'construction_site' %}">Объекты</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'technics' %}">Техника</a></li>
            <li><a class="dropdown-item" href="{% url 'users' %}">Персонал</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
        </ul>

    {% elif user.post == 'supply' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-2 small fw-bolder text-decoration-underline"
            >{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}
                {{ user.username }}{% endif %}</span></a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'application_for_driver' %}?current_day={{ current_day.date.isoformat }}">Заявки на технику</a>
            </li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
        </ul>

    {% elif user.post == 'mechanic' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-2 small fw-bolder text-decoration-underline"
            >{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}
                {{ user.username }}{% endif %}</span></a></li>
            <li>
                <hr class="m-0">
            </li>

            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'driver_sheet' %}?current_day={{ current_day.date.isoformat }}">Табель
                Водители</a></li>
            <li><a class="dropdown-item" href="{% url 'technic_sheet' %}?current_day={{ current_day.date.isoformat }}">Табель
                Техника</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'technics' %}">Техника</a></li>
            <li><a class="dropdown-item" href="{% url 'users' %}">Водители</a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
        </ul>

    {% elif user.post == 'driver' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-2 small fw-bolder text-decoration-underline"
            >{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}
                {{ user.username }}{% endif %}</span></a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'application_for_driver' %}?current_day={{ current_day.date.isoformat }}">Заявки на технику</a>
            </li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    {% elif user.post == 'employee' %}
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}?user_id={{ user.id }}">
            <span class="ms-2 small fw-bolder text-decoration-underline"
            >{% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}
                {{ user.username }}{% endif %}</span></a></li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'application_for_driver' %}?current_day={{ current_day.date.isoformat }}">Заявки на технику</a>
            </li>
            <li>
                <hr class="m-0">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    {% endif %}
</div>
