{#<div class="dropdown">#}
  <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Опции</button>
  <ul class="dropdown-menu">
    <li><button type="button" class="dropdown-item btn btn-sm btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#copy_app">Копировать заявку
</button></li>
{#    <li><a class="dropdown-item" href="#">2</a></li>#}
{#    <li><a class="dropdown-item" href="#">3</a></li>#}
  </ul>
{#</div>#}

{#<button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"#}
{#        data-bs-target="#filter_props">Копировать заявку#}
{#</button>#}