
<div class="modal fade" id="delete_app" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Удалить заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

                <p style="text-align: center">
                    Вы уверены, что хотите удалить данную заявку
                </p>
                

            </div>
            <div class="modal-footer" style="justify-content: space-between;">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                <a id="btn_delete_app" href="#" class="btn btn-danger">Удалить заявку</a>
            </div>
        </div>
    </div>
</div>