{% csrf_token %}
<div class="modal fade" id="view_props" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Настройки отображения</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            
        {% if user.post in 'administrator foreman master driver employee' %}
            <div class="modal-body form-switch">
            
                {% if user.post == 'administrator' %}
                <div>
                    <input aria-label="" type="checkbox" role="switch" class="form-check-input mx-1"
                           onchange="changeViewProps(this)"
                           name="is_show_saved_app" 
                           {% if user.is_show_saved_app %}checked{% endif %}/>
                    <span>Показывать сохраненные заявки</span>
                </div>{% endif %}
            
                {% if user.post == 'administrator' %}
                <div>
                    <input aria-label="" type="checkbox" role="switch" class="form-check-input mx-1"
                           name="is_show_absent_app"
                           onchange="changeViewProps(this)"
                           {% if user.is_show_absent_app %}checked{% endif %}/>
                    <span>Показывать отсутствующие заявки</span>
                </div>{% endif %}
            
                <div>
                    <input aria-label="" type="checkbox" role="switch" class="form-check-input mx-1"
                           name="is_show_technic_app"
                           onchange="changeViewProps(this)"
                           value="{{ user.is_show_technic_app }}"
                           {% if user.is_show_technic_app %}checked{% endif %}/>
                    <span>Показывать заявки на технику</span>
                </div>
            
                <div>
                    <input aria-label="" type="checkbox" role="switch" class="form-check-input mx-1"
                           name="is_show_material_app"
                           onchange="changeViewProps(this)"
                           value="{{ user.is_show_material_app }}"
                           {% if user.is_show_material_app %}checked{% endif %}/>
                    <span>Показывать заявки на материалы</span>
                </div>
            </div>
        
            <hr class="">
        {% endif %}
        
            <div class="mb-1">
                <input aria-label="" type="color" class="form-control-color ms-3 p-0"
                       name="io_color_title"
                       value="{{ user.color_title }}"
                       onchange="changeViewProps(this)"
                />                
                <span>Цвет названия объекта</span>
            </div>
        
        
            <div class="mb-1">
                    <input aria-label="" type="number" class="form-control ms-3"
                           style="width: max-content; display: inline"
                           min="6"
                           max="20"
                           name="io_font_size"
                           value="{{ user.font_size }}"
                           onchange="changeViewProps(this)"
                    />
                <span class="">Размер шрифта для описания заявки</span>  
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="reloadPage()//setViewProps(this)">Сохранить</button>
            </div>
        </div>
    </div>
</div>