{% csrf_token %}
<div class="modal fade" id="change_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Изменить пароль</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <label class="col">Введите пароль:
                        <input id="new_password_0" type="text"
                               oninput="checkPassword();"
                               class="form-control col-auto" name="new_password_0">                        
                    </label>
                </div>
                <div class="row">
                    <label class="col">Повторите пароль:
                        <input id="new_password_1" type="text"
                               oninput="checkPassword();"
                               class="form-control col-auto" name="new_password_1">                        
                    </label>
                    <span id="span_password_error" 
                          style="font-size: 8pt; color: red; display: none;"
                    >Пароли должны совпадать</span>
                </div>
                

            </div>
            <div class="modal-footer" style="justify-content: space-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="btn_change_password" type="button" 
                        onclick="changePassword()"
                        class="btn btn-primary disabled" >Изменить пароль</button>
            </div>
        </div>
    </div>
</div>