<li>
    <button type="button" class="dropdown-item btn btn-sm btn-outline-success" data-bs-toggle="modal"
            data-bs-target="#copy_app">Копировать заявку
    </button>
</li>
{% if user.post == 'administrator' %}
    <li>
        <a class="dropdown-item" href="{% url 'tasks_for_spec_constr_site' %}">
            <span>Настройка заданий для "спец. объекта"</span></a>
    </li>
    
{% endif %}
{% if user.is_active %}
    <li>
        <a class="dropdown-item" href="{% url 'calculate_all_applications' %}?current_day={{ current_day.date.isoformat }}">
            <span>Пересчитать кол-во заданий</span></a>
    </li>
{% endif %}