{% extends 'base.html' %}
{% block content %}
    <div id="edit_application" class="container-sm">
        <div><h3><u>{{ title }}</u></h3></div>
        <div>
            <form id="edit_application_form" method="post">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <p class="m-0">
                            <span class="small">Объект:</span>
                            <span class="fw-bold">{{ construction_site.address|upper }}</span>
                        </p>
                        <p class="m-0">
                            <span class="small">Дата:</span>
                            <span class="fw-bold">{{ current_day.date }}</span>
                            <span class="fw-bold">{{ weekday }}</span>
                        </p>
                    </div>

                    <div class="card-header">
                        <input type="hidden" name="application_id" value="{{ application_today.id }}">
                        <input type="hidden" name="construction_site_id" value="{{ construction_site.id }}">
                        <input type="hidden" name="app_material_id"
                               value="{{ application_today.application_material.id }}"/>
                        <input type="hidden" 
                               id="orig_application_description"
                               value="{% if application_today.description %}{{ application_today.description }}{% endif %}">
                        <div id="div_application_desc" 
                             class="row "
                             {% if not application_today.description %}style="display: none" {% endif %}
                        ><label class=""><span class="small">Примечание к объекту:</span>
                                <textarea id="textarea_application_description"
                                        style="font-size: {{ user.font_size }}pt;"
                                        oninput="autoResize(this); $('#div_btn_edit_application_description').show();"
                                        onblur="blurApplicationDescription()"  
                                        class="form-control app_tech_description general_application_description_font"
                                        name="application_description"
                                >{% if application_today.description %}{{ application_today.description }}{% endif %}</textarea>
                            </label>
                        </div>
                        <div id="btn_div_application_desc"
                             {% if application_today.description %}style="display: none" {% endif %}>
                            <button class="btn btn-secondary" type="button"
                                    style="float: right"
                                    onclick="createApplicationDescription()"
                            >Добавить примечание</button>
                        </div>
                        
                        <div class="mt-1 p-1 row"
                         id="div_btn_edit_application_description"
                         style="justify-content: space-between; display: none;"
                    >
                        <button type="button"
                                onclick="cancelEditedAppDescr()"
                                class="btn btn-outline-primary button_reload_app_tech w-auto"
                        >Отмена</button>

                        <button type="button"
                                onclick="saveApplicationDescription()"
                                class="btn btn-success w-auto"
                        >Сохранить изменения</button>
                    </div>
                    </div>

                    
                </div>

                <div>
{#                    {% if application_today.application_technic %}#}
                        <div class="p-0" id="app_tech_container">
                            {% for app_technic in application_today.application_technic %}
                                <div id="{{ app_technic.id }}" class="mt-2 card border border-2" style="box-shadow: 5px 5px 50px">

                                    <div class="row m-0 p-1 card-header" style="background: #e8ebfa">
                                        <div class="col">
                                        <label class="col-auto p-0" >
                                            <select id="technic_title_{{ app_technic.id }}"
                                                    class="form-control p-1"
                                                    {% if app_technic.is_cancelled or app_technic.isChecked %}disabled=""{% endif %}
                                                    onchange="selectTechnicTitle(this)">
                                                {% for technic_title in technic_titles_dict %}
                                                        <option {% if app_technic.technic_sheet__technic__title == technic_title.title %} selected {% endif %}
                                                                value="{{ technic_title.short_title }}"
                                                        >{{ technic_title.title }}</option>     
                                                {% endfor %}
                                            </select>
                                        </label>

                                        <label class="col-auto p-0">
                                            
                                            {% for technic_driver in technic_driver_list %}
                                                <select id="technic_sheet_{{ app_technic.id }}"
                                                        onchange="applyChangesAppTechnic('{{ app_technic.id }}')"
                                                        {% if app_technic.is_cancelled or app_technic.isChecked %}disabled=""{% endif %}
                                                        class="{{ technic_driver.title_short }}_{{ app_technic.id }} technic_driver_selects technic_driver_selects_{{ app_technic.id }} form-control p-1">
                                                    {% for technic_sheet in technic_driver.technic_sheets %}
                                                        <option
                                                                {% if app_technic.technic_sheet_id == technic_sheet.id %}
                                                                    selected {% endif %}
                                                                    value="{{ technic_sheet.id }}"
                                                        >{% if not technic_sheet.driver_sheet.status %}Не назначен{% else %}{{ technic_sheet.driver_sheet.driver.last_name }}{% endif %}{% if technic_sheet.count_application > 0 %} (Занят){% endif %}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endfor %}  
                                        </label>
                                        </div>
                                        <div class="col-auto" id="btn_options_{{ app_technic.id }}">
                                            {% include 'includes/btn_btns_control_edit_apps.html' %}
                                        </div>
                                    <span id="span_missing_driver_{{ app_technic.id }}"
                                          style="display: none"
                                          class="small text-warning">На данный момент водитель отсутствует</span>
                                    </div>

                                    <div>
                                        <input type="hidden" id="orig_technic_title_{{ app_technic.id }}"
                                               value="{{ app_technic.technic_sheet__technic__title }}">
                                        <input type="hidden" id="orig_technic_sheet_{{ app_technic.id }}"
                                               value="{{ app_technic.technic_sheet_id }}">
                                        <input type="hidden" id="orig_technic_description_{{ app_technic.id }}"
                                               value="{{ app_technic.description }}">
                                    </div>

                                    <div class="row">
                                        <label>
                                            <textarea id="app_tech_description_{{ app_technic.id }}"
                                                      style="width: 100%; font-size: {{ user.font_size }}pt;"
                                                      class="form-control app_tech_description app_technic_description_{{ app_technic.id }} general_tech_description_font
                                                      {% if app_technic.isChecked %}border border-1 border-success
                                                      {% elif app_technic.is_cancelled %}border border-1 border-danger
                                                      {% endif %}
                                                        "
                                                      {% if app_technic.is_cancelled or app_technic.isChecked %}disabled{% endif %}
                                                      oninput="autoResize(this); $('#btn_edit_technics_and_materials').hide(); $('#main_footer').hide();"
                                                      onblur="blurAppTechnic('{{ app_technic.id }}')"  
                                            >{{ app_technic.description }}</textarea>
                                        </label>
                                    </div>

                                    <div class="m-1 p-1 row"
                                         id="div_btn_edit_control_{{ app_technic.id }}"
                                         style="justify-content: space-between; display: none;"
                                    >
                                        <button id="cancel_{{ app_technic.id }}" type="button"
                                                onclick="cancelAddedTechnic(this)"
                                                class="btn btn-outline-primary button_reload_app_tech w-auto"
                                        >Отмена</button>

                                        <button id="apply_{{ app_technic.id }}" type="button"
                                                onclick="applyChangesAppTechnic('{{ app_technic.id }}')"
                                                class="btn btn-success button_apply_app_tech w-auto"
                                        >Сохранить изменения</button>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
{#                    {% endif %}#}
                </div>

                    <div id="div_application_materials" class="card shadow-lg mt-4"
                         {% if not application_today.application_material.description %}style="display: none"{% endif %}>                        
                        {% if not is_changeable_material %}
                            <span style="text-align: center; background-color: rgba(233,236,132,0.47)">Прием заявок на материалы приостановлен</span>
                        {% endif %}
                        <div class="card-header p-1">
                            <span class="fw-bolder ms-2">Список материалов:</span>
                        </div>
                        <input type="hidden" 
                               id="orig_material_description"
                               value="{% if application_today.application_material.description %}{{ application_today.application_material.description }}{% endif %}">
                        <div class="card-body p-0">
                            <textarea id="app_material_desc"
                                      {% if not is_changeable_material or user.post == 'supply' %} readonly disabled {% endif %}
                                      aria-label=""
                                      style="font-size: {{ user.font_size }}pt;"
                                      class="form-control material_description general_mat_description_font"
                                      oninput="autoResize(this); onInput_material_description();"
                                      onclick="autoResize(this);"
                                      onblur="blurAppMaterial()"
                            >{{ application_today.application_material.description }}</textarea>
                        </div>
                        <div class="m-1 p-1 row"
                             id="div_btn_edit_material"
                             style="justify-content: space-between; display: none;">
                            <button id="cancel_{{ app_technic.id }}" type="button"
                                    onclick="cancelAddedMaterial(this)"
                                    class="btn btn-outline-primary  w-auto"
                            >Отмена</button>

                            <button id="apply_{{ app_technic.id }}" type="button"
                                    onclick="saveApplicationMaterials()"
                                    class="btn btn-success  w-auto"
                            >Сохранить изменения</button>
                        </div>
                    </div>
            
            
            </form>
        </div>

    </div>

    <div id="btn_edit_technics_and_materials"
         class="container position-fixed translate-middle-x bottom-0 start-50"
         style="margin-bottom: 4rem; width: max-content">
        <div class="btn-group" style="box-shadow: 2px 2px 10px 2px;">
            <button type="button" class="btn btn-primary" id="btn_create_app_technic"
                    data-bs-toggle="modal"
                    data-bs-target="#modalApplicationTechnic">
                <span class="fw-bolder"><i class="fa-solid fa-plus"></i> ТЕХНИКА</span>
            </button>
            {% if is_changeable_material or user.post == 'supply' %}
                <button type="button" class="btn btn-primary" id="btn_create_app_mater"
{#                        {% if application_today.application_material.description %}style="display: none"{% endif %}#}
                        onclick="createAppMater()">
                    <span class="fw-bolder"><i class="fa-solid fa-plus"></i> МАТЕРИАЛЫ</span>
                </button>
            {% endif %}
        </div>
    </div>


    <!------- Modal ----------------------------------------------------------------------->

    {% include 'includes/modal_edit_materials.html' %}
    {% include 'includes/modal_edit_technics.html' %}
    {% include 'includes/mess_status_ok.html' %}
    {% include 'includes/mess_status_fail.html' %}

    <!------- Modal ----------------------------------------------------------------------->

{% endblock %}

{% block footer %}
    <div></div>
    <div>
        <div>
            <a id="btn_apply_for_edit_app"
               href="{% url 'validate_application_today' %}?app_today_id={{ application_today.id }}&constr_site_id={{ construction_site.id }}&current_day={{ current_day.date.isoformat }}"
               class="btn btn-success"
            >{% if application_today.is_edited %}<span>СОХРАНИТЬ</span>{% else %}<span>ОТМЕНА</span>{% endif %}</a>
        </div>


    </div>
    <div></div>
{% endblock %}

