{% extends 'base.html' %}
{% block title_p %}
    {% if VIEW_MODE != 'view_mode_archive' %}
        {% if status_list_application_today.saved and not ONLY_READ%}
            <div>
                <a href="{% url 'change_app_status' %}?current_day={{ current_day.date.isoformat }}&current_status=saved"
                   role="button" class="btn btn-warning">Подать все заявки</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="foreman_dashboard" class="container">
        {#        <div><h3><u>{{ title }}</u> {{ current_date.date }}</h3></div>#}
        <div class="mt-1 position-relative translate-middle-x start-50 top-0">
            <p class="mb-1" style="text-align: center">
                <label>
                    <input class="form-control text-center p-1 io_choice_day" type="date" name="current_day"
                           value="{{ current_day.date.isoformat }}">
                </label>
            </p>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">

                    <li class="page-item"><a
                            class="page-link fw-bold text-dark me-2 ps-4 pe-4"
                            href="{% url 'dashboard' %}?current_day={{ prev_work_day.date.isoformat }}"><i
                            class="fa-solid fa-angles-left"></i></a></li>
                    {% for day in work_days %}
                        <li class="page-item ms-1 me-1">
                            <a class="page-link p-1 m-0 {% if day.status %}text-success{% else %}text-danger{% endif %} {% if today == day.date %}fw-bold text-dark{% endif %} {% if current_day.date == day.date %}border border-2 border-success{% endif %}"
                               href="{% url 'dashboard' %}?current_day={{ day.date.isoformat }}"
                               style="text-align: center; border-radius: 10%;"
                            ><span class="">{{ day.date.day }}</span><br/>
                                <span class="small">{{ day.weekday }}</span>
                            </a></li>
                    {% endfor %}
                    <li class="page-item"><a
                            class="page-link fw-bold text-dark ms-2 ps-4 pe-4"
                            href="{% url 'dashboard' %}?current_day={{ next_work_day.date.isoformat }}"><i
                            class="fa-solid fa-angles-right"></i></a></li>

                </ul>
            </nav>
        </div>


        <div style="text-align: center">
            {% if VIEW_MODE == 'view_mode_archive' %}
                {% include 'includes/label_archive.html' %}
            {% endif %}
            {% include 'includes/weekday_current_day.html' %}
            {% include 'includes/btn_modal_view_props.html' %}
            {% include 'includes/btn_modal_option.html' %}
        </div>

        <div id="applications_container" class="mt-2 position-relative translate-middle-x start-50">
            {% for construction_site in construction_sites %}
                <div class="col-sm-auto application_items mb-5">

                    <div class="application_items_border border border-2
                                {% if construction_site.application_today.status == 'saved' %} border-warning
                                {% elif construction_site.application_today.status == 'submitted' %} border-primary
                                {% elif construction_site.application_today.status == 'approved' %} border-success
                                {% endif %} 
                                ">

                        <div class="card m-1">
                            <div class="card-header p-0">
                                {% if construction_site.application_today %}
                                    {% if construction_site.application_today.status == 'saved' %}
                                        <p class="p-0 application_status text-warning">Заявка сохранена</p>
                                    {% elif construction_site.application_today.status == 'submitted' %}
                                        <p class="p-0 application_status text-primary">Заявка подана</p>
                                    {% elif construction_site.application_today.status == 'approved' %}
                                        <p class="p-0 application_status text-success">Заявка одобрена</p>
                                    {% elif construction_site.application_today.status == 'send' %}
                                        <p class="p-0 application_status text-info fw-bold">Заявка отправлена</p>
                                    {% else %}
                                        <p class="p-0 application_status">Заявка отсутствует</p>
                                    {% endif %}
                                {% else %}
                                    <p class="p-0 application_status">Заявка отсутствует</p>
                                {% endif %}

                                <p class="card-title fw-bolder p-0 m-0 text-uppercase"
                                   style="text-align: center">{{ construction_site.address }}</p>
                                <p class="m-0 ms-2" style="text-align: center">
                                    <span class="fw-bolder">{{ weekday }}</span>,
                                    <span>{{ current_day.date }}</span>
                                </p>
                                {% if construction_site.foreman %}
                                    <p class="card-title p-0 m-0 ms-2">
                                        <span class="small m-0">Прораб:</span>
                                        <span class="fw-bolder">{{ construction_site.foreman.last_name }}</span>
                                        <span class="fw-bolder">{{ construction_site.foreman.first_name }}</span>
                                    </p>{% endif %}
                                <hr class="m-0"/>


                                {% if construction_site.application_today.description %}
                                    <div class="mt-1">
                                        <label class="w-100"><p class="fw-bolder small m-0" style="text-align: center;">
                                            Примечание к объекту:</p>
                                            <textarea readonly
                                                      class="form-control border border-0 app_tech_description">{{ construction_site.application_today.description }}
                                    </textarea>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-text">
                                {% if construction_site.application_today %}
                                    {% if construction_site.application_today.application_technic %}
                                        <div class="ms-1 mt-1">
                                            {% for app_technic in construction_site.application_today.application_technic %}
                                                <div
                                                        {% if app_technic.is_cancelled %}
                                                            {#                                                            class="text-decoration-line-through"#}
                                                            style="color: rgba(97,95,95,0.51)"
                                                        {% elif app_technic.isChecked %}
                                                            style="color: rgba(97,95,95,0.51)"
                                                        {% endif %}
                                                >
                                                    <span class="ms-1">{{ app_technic.technic_sheet__technic__title }}</span>
                                                    <span>({{ app_technic.technic_sheet__driver_sheet__driver__last_name }})</span>
                                                    <span>[<span>{{ app_technic.priority }}</span>/
                                                        <span>{{ app_technic.technic_sheet__count_application }}</span>]
                                                    </span>
                                                    {% if app_technic.description %}
                                                        <label class="m-0 p-0 row">
                                                <textarea readonly
                                                        {% if app_technic.is_cancelled or app_technic.isChecked %}
                                                          style="color: rgba(97,95,95,0.51)"
                                                        {% endif %}
                                                          class="form-control app_tech_description">{{ app_technic.description }}</textarea>
                                                        </label>
                                                    {% endif %}
                                                </div>


                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if construction_site.application_today.application_material %}
                                        <div class="m-0 p-1">
                                            {#                                            {% for app_material in construction_site.application_today.application_material %}#}
                                            {% if construction_site.application_today.application_material.isChecked %}
                                                <span class="small fw-bold">Список материалов:</span>
                                                <span style="font-size: small; color: green;">Подтверждено</span>
                                                <textarea readonly aria-label="material_description"
                                                          class="form-control border border-1 border-success material_description">{{ construction_site.application_today.application_material.description }}</textarea>

                                            {% else %}
                                                <span class="small fw-bold">Список материалов:</span>
                                                <span style="font-size: small; color: red;">Не подтверждено</span>
                                                <textarea readonly aria-label="material_description"
                                                          class="form-control border border-1 border-danger material_description">{{ construction_site.application_today.application_material.description }}</textarea>
                                            {% endif %}

                                            {#                                            {% endfor %}#}
                                            <hr class="p-0 m-0">
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </div>

                            {% if VIEW_MODE != 'view_mode_archive' %}
                                <hr class="p-0 m-0">
                                <div class="card-text">
                                    <div class="btn-group d-flex justify-content-center m-1">

                                        {% if construction_site.application_today %}
{#                                            <a href="{% url 'clear_application' %}?app_today_id={{ construction_site.application_today.id }}"#}
{#                                               class="btn btn-outline-danger" aria-current="page"><i#}
{#                                                    class="fa-solid fa-trash"></i></a>#}
                                            
                                            <button type="button" class="btn btn-outline-danger"
                                                        onclick="prepareModalDeleteApplication('{% url 'clear_application' %}?app_today_id={{ construction_site.application_today.id }}')"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#delete_app"><i class="fa-solid fa-trash"></i></button>
                                            
                                            <a href="{% url 'edit_application' %}?constr_site_id={{ construction_site.id }}&current_day={{ current_day.date.isoformat }}"
                                               class="btn btn-outline-primary" aria-current="page"><i
                                                    class="fa-regular fa-pen-to-square"></i></a>

                                            {% if construction_site.application_today.status == 'saved' and not ONLY_READ %}
                                                <a href="{% url 'change_app_status' %}?application_today_id={{ construction_site.application_today.id }}"
                                                   class="btn btn-outline-primary ps-4 pe-4"
                                                   aria-current="page"><i class="fa-solid fa-check"></i></a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'edit_application' %}?constr_site_id={{ construction_site.id }}&current_day={{ current_day.date.isoformat }}"
                                               class="btn btn-sm btn-outline-primary" aria-current="page">
                                                <i class="fa-solid fa-plus"></i></a>
                                        {% endif %}


                                    </div>

                                    {% if ONLY_READ %}
                                        <div style="text-align: center">
                                            <span>Подача заявок на технику ограничена
                                            {% if ONLY_READ_time %}
                                                <span>до {{ ONLY_READ_time }}</span>
                                            {% endif %}
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
    {#    ------------------------------------------------------------------------------------------------------------#}

    {% csrf_token %}
    {% include 'includes/modal_view_props.html' %}
    {% include 'includes/modal_copy_app.html' %}
    {% include 'includes/modal_delete_app.html' %}

    {#    ------------------------------------------------------------------------------------------------------------#}

{% endblock %}

{% block footer %}
    <span></span>
    <span>    
    <a class="btn btn-primary" href="{% url 'technic_application_list' %}?current_day={{ current_day.date.isoformat }}">Все заявки</a>
    </span>
    <span></span>
{% endblock %}

