{% extends 'base.html' %}
{% block title_p %}
    {% if status_list_application_today.saved and edit_mode != 'edit_mode_archive' %}
        <div>
            <a href="{% url 'change_app_status' %}?current_day={{ current_day.date.isoformat }}&current_status=saved"
               role="button" class="btn btn-primary">Подать все заявки</a>
        </div>
        {#    {% elif status_list_application_today.submitted %}#}
        {#        <div>#}
        {#            <a href="{% url 'change_app_status' %}?current_day={{ current_day.date.isoformat }}&current_status=submitted" role="button" class="btn btn-success">Одобрить все заявки</a>#}
        {#        </div>#}
        {#    {% elif status_list_application_today.approved %}#}
        {#        <div>#}
        {#            <a href="{% url 'change_app_status' %}?current_day={{ current_day.date.isoformat }}&current_status=approved" role="button" class="btn btn-warning">Отправить все заявки</a>#}
        {#        </div>#}
        {#    {% elif status_list_application_today.send %}#}
        {#        <div>#}
        {#            <a href="{% url 'change_app_status' %}?current_day={{ current_day.date.isoformat }}&current_status=send" role="button" class="btn btn-outline-secondary">Повторно отправить заявки</a>#}
        {#        </div>#}
    {% endif %}
{% endblock %}
{% block content %}
    <div id="supply_dashboard" class="container">
        {#        <div><h3><u>{{ title }}</u> {{ current_date.date }}</h3></div>#}
        <div class="mt-1 position-relative translate-middle-x start-50 top-0">
            <p class="mb-1" style="text-align: center">
                <label>
                    <input class="form-control text-center p-1 io_choice_day" type="date" name="current_day"
                           value="{{ current_day.date.isoformat }}">
                </label>
            </p>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">

                    <li class="page-item"><a
                            class="page-link fw-bold text-dark me-2 ps-4 pe-4"
                            href="{% url 'dashboard' %}?current_day={{ prev_work_day.date.isoformat }}"><i
                            class="fa-solid fa-angles-left"></i></a></li>
                    {% for day in work_days %}
                        <li class="page-item ms-1 me-1">
                            <a class="page-link p-1 m-0 {% if day.status %}text-success{% else %}text-danger{% endif %} {% if today == day.date %}fw-bold text-dark{% endif %} {% if current_day.date == day.date %}border border-2 border-success{% endif %}"
                               href="{% url 'dashboard' %}?current_day={{ day.date.isoformat }}"
                               style="text-align: center; border-radius: 10%;"
                            ><span class="">{{ day.date.day }}</span><br/>
                                <span class="small">{{ day.weekday }}</span>
                            </a></li>
                    {% endfor %}
                    <li class="page-item"><a
                            class="page-link fw-bold text-dark ms-2 ps-4 pe-4"
                            href="{% url 'dashboard' %}?current_day={{ next_work_day.date.isoformat }}"><i
                            class="fa-solid fa-angles-right"></i></a></li>

                </ul>
            </nav>
        </div>

        <div style="text-align: center">
            <a href="{% url 'material_application_supply' %}?current_day={{ current_day.date.isoformat }}"
               class="btn btn-sm {% if count_app_mater_not_checked %} btn-warning {% else %}btn-outline-success{% endif %}">
                {% if count_app_mater_not_checked and edit_mode != 'edit_mode_archive' %}
                    <span>Есть {{ count_app_mater_not_checked }} не подтвержденных заявок</span>
                {% else %}
                    <span>Заявки на материалы</span>
                {% endif %}
            </a>
            {#                    <button type="button" class="btn btn-sm btn btn-outline-primary">Опции</button>#}
        </div>

        <div id="applications_container" class="mt-3 position-relative translate-middle-x start-50">

            {#            {% for construction_site in construction_sites %}#}
            <div class="application_items">

                <div class="application_items_border border border-2
                                {% if application_today.status == 'saved' %} border-warning
                                {% elif application_today.status == 'submitted' %} border-primary
                                {% elif application_today.status == 'approved' %} border-success
                                {% endif %} 
                                ">
                    <div class="card m-1">
                        <div class="card-header p-0">
                            {% if application_today %}
                                {% if application_today.status == 'saved' %}
                                    <p class="p-0 application_status text-warning">Заявка сохранена</p>
                                {% elif application_today.status == 'submitted' %}
                                    <p class="p-0 application_status text-primary">Заявка подана</p>
                                {% elif application_today.status == 'approved' %}
                                    <p class="p-0 application_status text-success">Заявка одобрена</p>
                                {% elif application_today.status == 'send' %}
                                    <p class="p-0 application_status text-info fw-bold">Заявка отправлена</p>
                                {% else %}
                                    <p class="p-0 application_status">Заявка отсутствует</p>
                                {% endif %}
                            {% else %}
                                <p class="p-0 application_status">Заявка отсутствует</p>
                            {% endif %}
                            <p class="card-title fw-bolder p-0 m-0 text-uppercase"
                               style="text-align: center">{{ construction_site.address }}</p>
                            <p class="m-0 ms-2" style="text-align: center">
                                <span class="fw-bolder">{{ weekday }}</span>,
                                <span>{{ current_day.date }}</span>
                            </p>
                            <hr class="m-0"/>

                            {% if application_today.description %}
                                <div class="mt-1">
                                    <label class="w-100"><p class="fw-bolder small m-0" style="text-align: center;">
                                        Примечание к объекту:</p>
                                        <textarea readonly
                                                  class="form-control border border-0 app_tech_description">{{ application_today.description }}
                                    </textarea>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-text">
                            {% if application_today %}
                                {% if applications_technic %}
                                    <div class="ms-1 mt-1">
                                        {% for app_technic in applications_technic %}
                                            <div    {% if app_technic.is_cancelled %}
                                                {#                                                class="text-decoration-line-through"#}
                                                style="color: rgba(97,95,95,0.51)"
                                            {% endif %}
                                            >
                                                <span class="ms-1">{{ app_technic.technic_sheet.technic.title }}</span>
                                                <span>({{ app_technic.technic_sheet.driver_sheet.driver.last_name }})</span>
                                                <span>[<span>{{ app_technic.priority }}</span>/
                                                        <span>{{ app_technic.technic_sheet.count_application }}</span>]
                                                    </span>
                                                {% if app_technic.description %}
                                                    <label class="m-0 p-0 row">
                                                <textarea readonly
                                                        {% if app_technic.is_cancelled %}
                                                          style="color: rgba(97,95,95,0.51)"
                                                        {% endif %}
                                                          class="form-control app_tech_description">{{ app_technic.description }}</textarea>
                                                    </label>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if applications_material %}
                                    <div class="m-0 p-1">
                                        {% if applications_material.isChecked %}
                                            <span class="small fw-bold">Список материалов:</span>
                                            <span style="font-size: small; color: green;">Подтверждено</span>
                                            <textarea readonly aria-label=""
                                                      class="form-control border border-1 border-success material_description">{{ applications_material.description }}</textarea>

                                        {% else %}
                                            <span class="small fw-bold">Список материалов:</span>
                                            <span style="font-size: small; color: red;">Не подтверждено</span>
                                            <textarea readonly aria-label=""
                                                      class="form-control border border-1 border-danger material_description">{{ applications_material.description }}</textarea>
                                        {% endif %}
                                        <hr class="p-0 m-0">
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if edit_mode != 'edit_mode_archive' %}
                            <hr class="p-0 m-0">
                            <div class="card-text">
                                <div class="btn-group d-flex justify-content-center m-1">
                                    {% if not ONLY_READ %}

                                        {% if application_today and applications_technic or application_today and applications_material %}
                                            <a href="{% url 'clear_application' %}?app_today_id={{ application_today.id }}"
                                               class="btn btn-outline-danger" aria-current="page"><i
                                                    class="fa-solid fa-trash"></i></a>
                                            <a href="{% url 'edit_application' %}?constr_site_id={{ construction_site.id }}&current_day={{ current_day.date.isoformat }}"
                                               class="btn btn-outline-primary" aria-current="page"><i
                                                    class="fa-regular fa-pen-to-square"></i></a>

                                            {% if application_today.status == 'saved' %}
                                                <a href="{% url 'change_app_status' %}?application_today_id={{ application_today.id }}"
                                                   class="btn btn-outline-primary ps-4 pe-4"
                                                   aria-current="page"><i class="fa-solid fa-check"></i></a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'edit_application' %}?constr_site_id={{ construction_site.id }}&current_day={{ current_day.date.isoformat }}"
                                               class="btn btn-sm btn-outline-primary" aria-current="page">
                                                <i class="fa-solid fa-plus"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <span>Подача заявок на технику ограничена
                                            {% if ONLY_READ_time %}
                                                <span>до {{ ONLY_READ_time }}</span>
                                            {% endif %}
                                            </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if a_m_exists and edit_mode != 'edit_mode_archive' %}
                <div class="application_items">
                    {% for app_tech_supply in applications_technic_for_supply %}
                        {% if app_tech_supply.application_technic %}
                            <div class="card mb-2 border border-dark">
                                <div class="card-title m-0">
                                    <div class="card-header p-1">
                                        <p class="m-0 ms-2">
                                            <span class="fw-bolder">{{ app_tech_supply.technic.title }}</span>
                                            {% if app_tech_supply.technic.attached_driver %}
                                                <span>({{ app_tech_supply.technic.attached_driver.last_name }})</span>
                                            {% endif %}
                                        </p>


                                    </div>
                                    {% for app_tech in app_tech_supply.application_technic %}
                                        <hr class="m-0 border border-2 border-dark"/>
                                        <div class="card-body p-0 mt-1">
                                            <div class="{% if app_tech.is_cancelled %}bg-danger{% elif app_tech.isChecked %}bg-success{% endif %}">
                                                <p class="m-0 small" style="text-align: center">
                                                    <span class="fw-bolder">{{ app_tech.application_today.construction_site.address }}</span>
                                                    {% if app_tech.application_today.construction_site.foreman %}
                                                        <span>({{ app_tech.application_today.construction_site.foreman.last_name }})</span>
                                                    {% endif %}
                                                </p>
                                            </div>

                                            <div class="">
                                        <textarea
                                                class="form-control {% if app_tech.isChecked %} border border-2 border-success{% elif app_tech.is_cancelled %} border border-2 border-danger {% endif %}"
                                                readonly {% if app_tech.is_cancelled or app_tech.isChecked %}
                                                disabled{% endif %}
                                                aria-label="">{{ app_tech.description }}</textarea>
                                            </div>

                                            <div class="m-1 btn-group position-relative translate-middle-x start-50">
                                                <button id="accept_{{ app_tech.id }}"
                                                        onclick="changeIsChecked(this, {{ application_today.id }})"
                                                        type="button"
                                                        {% if app_tech.isChecked %}
                                                        class="btn btn-sm btn-primary">
                                                            <i class="fa-solid fa-angles-right"></i>
                                                            <span> Отменить</span>
                                                        {% else %}
                                                            class="btn btn-sm btn-outline-success">
                                                            <i class="fa-solid fa-angles-left"></i>
                                                            <span> Принять</span>
                                                        {% endif %}

                                                </button>
                                                {% if not app_tech.isChecked %}
                                                    <button id="reject_{{ app_tech.id }}"
                                                            onclick="changeIsCancelled(this)"
                                                            type="button"
                                                            {% if not app_tech.is_cancelled %}
                                                            class="btn btn-sm btn-outline-danger">
                                                                <i class="fa-solid fa-xmark"></i>
                                                                <span>Отвергнуть</span>
                                                            {% else %}
                                                                class="btn btn-sm btn-outline-primary">
                                                                <span>Отменить</span>
                                                            {% endif %}
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </div>
    {#    ------------------------------------------------------------------------------------------------------------#}

    {% csrf_token %}
    {#    {% include 'includes/modal_view_props.html' %}#}

    {#    ------------------------------------------------------------------------------------------------------------#}

{% endblock %}

{% block footer %}
    <span></span>
    <span>    
    <a class="btn btn-primary" href="{% url 'technic_application_list' %}?current_day={{ current_day.date.isoformat }}">Все заявки</a>
    </span>
    <span></span>
{% endblock %}

