{% extends 'base.html' %}
{% block content %}
    <div id="edit_technic" class="container w-50 mx-auto">
        <div><h3><u>{{ title }}</u></h3></div>
        <form method="post" id="edit_technic_form">{% csrf_token %}
            <div class="m-2">
                <label>Название техники
                    <input class="form-control" name="title" type="text" value="{{ technic.title }}" required/>
                </label>

                <label class="ms-2">Тип техники
                    <input class="form-control" name="type" type="text" value="{{ technic.type }}" required/>
                </label>
            </div>
            <div class="m-2">
                <label class="">Прикрепленный водитель
                    <select name="attached_driver" class="form-control">
                        <option></option>
                        {% for driver in drivers %}
                            {% if technic.attached_driver.id == driver.id %}
                                <option selected="selected"
                                        value="{{ driver.id }}">{{ driver.user.last_name }} {{ driver.user.first_name }}</option>
                            {% else %}
                                <option value="{{ driver.id }}">{{ driver.user.last_name }} {{ driver.user.first_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>

                <label class="ms-2">Руководитель
                    <select name="supervisor" class="form-control">
                        <option></option>
                        {% for supervisor in supervisors %}
                            {% if technic.supervisor.id == supervisor.user.id %}
                                <option selected="selected"
                                        value="{{ supervisor.user.id }}">{{ supervisor.user.last_name }} {{ supervisor.user.first_name }}</option>
                            {% else %}
                                <option value="{{ supervisor.user.id }}">{{ supervisor.user.last_name }} {{ supervisor.user.first_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="m-2">
                <label>Идентификационная информация
                    <input class="form-control" name="id_information" type="text" value="{{ technic.id_information }}"
                           required/>
                </label>
            </div>
            <div class="m-2">
                <label class="w-100">Описание
                    <textarea class="form-control" name="description">{{ technic.description }}</textarea>
                </label>
            </div>
            <div class="m-2 navbar">
                <a href="{% url 'technics' %}" class="btn btn-sm btn-primary position-absolute" style="float: left">Отмена</a>
                <button class="btn btn-sm btn-success position-absolute end-0" style="" type="submit"
                        form="edit_technic_form">Сохранить
                </button>
            </div>


        </form>
    </div>



{% endblock %}
{% block footer %}
    <div></div>
    <div>

    </div>
    <div></div>
{% endblock %}