{% extends 'base.html' %}
{% block title_p %}
    {% include 'includes/btn_dashboard.html' %}
{% endblock %}
{% block content %}
    <div id="technics" class="container">
        <div><h3><u>{{ title }}</u></h3></div>
        <table class="table table-hover">
            <thead>
            <tr style="text-align: center">
                <th>№</th>
                <th>Название техники</th>
                <th>Описание</th>
                <th>Прикрепленный водитель</th>
            </tr>
            </thead>
            <tbody>
            {% for technic in technics %}
                <tr id="{{ technic.id }}" onclick=" location.href = `/edit_technic/?tech_id=${this.id}`">
                    <td>{{ forloop.counter }}</td>
                    <td><p class="m-0 fw-bolder">{{ technic.title }}</p><p class="m-0 fw-bolder small">[ {{ technic.id_information }} ]</p></td>
                    <td><p class="m-0 small">{{ technic.type }}</p><hr class="m-0"><p class="m-0 small">{{ technic.description }}</p></td>
                    <td>{% if technic.attached_driver %}
                        <span>{{ technic.attached_driver.last_name }}</span>
                        <span>{{ technic.attached_driver.first_name.0 }}.</span>
                    {% endif %}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
{% block footer %}
    <div></div>
    <div>
        <a href="{% url 'edit_technic' %}" class="btn btn-sm btn-success" type="button">Добавить технику</a>
    </div>
    <div></div>
{% endblock %}