{% extends 'base.html' %}
{% block content %}
    <div id="conflict_resolution" class="container-sm">
        
        
        <div class="card mt-3 mx-auto"
             style="width: max-content">
            <div class="card-header">
                
                <p class="m-0 fw-bolder">{{ technic_title }}</p>
                <p class="m-0 text-success">
                    <span class="form-text me-1">Всего ед. техники:</span><span>{{ conflict_technic_sheet.total_technic_sheet_count }}</span>
                </p>
                <p class="m-0 text-primary">
                    <span class="form-text me-1">Общее количество заданий:</span><span>{{ conflict_technic_sheet.all_applications_count }}</span>
                </p>
                <p class="m-0 text-success">
                    <span class="form-text me-1">Количество свободных водителей:</span><span>{{ conflict_technic_sheet.free_technic_sheet_count }}</span>
                </p>
                <p class="m-0 text-danger">
                    <span class="form-text me-1">Количество необходимой техники:</span><span>{{ conflict_technic_sheet.need_technics_count }}</span>
                </p>
            </div>
        </div>
        
        
        
        <div id="conflict_resolution_container" class="mt-3 mx-auto">
            <form id="conflict_resolution_form" method="post">{% csrf_token %}
                {% for conflict_at in applications_technic %}
                    <div class="card m-1">
                        <div class="card-header">
                            <input type="hidden" name="application_technic_id" value="{{ conflict_at.id  }}">
                            <div {% if conflict_at.technic_sheet.id in priority_id_list %}
                                class="input-group  rounded p-1 m-0"
                                {% for ts_id, color in color_list.items %}
                                    {% if conflict_at.technic_sheet.id == ts_id %}
                                style="border: solid 2px {{ color }}"
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                class="input-group p-0"
                            {% endif %}>
                                <label class="m-0 p-0 col-auto">
                                    <select id="title_{{ conflict_at.id }}" class="form-control p-1" name="{{ conflict_at.id }}_title"
                                            onchange="selectTechnicTitleForConflictResolution(this); $('#div_submit_for_CR').show();">
                                        {% for title_short_item in technic_titles_dict %}
                                            {% if title_short_item.title == technic_title %}
                                                <option selected value="{{ title_short_item.short_title }}">{{ title_short_item.title }}</option>
                                            {% else %}
                                                <option value="{{ title_short_item.short_title }}">{{ title_short_item.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                {% for technic_driver in technic_driver_list %}
                                    <label class="m-0 p-0">
                                        <select id="tech_sheet_{{ conflict_at.id }}" name="{{ conflict_at.id }}_technic_sheet"
                                                onchange="selectTechnicSheetForConflictResolution(this); $('#div_submit_for_CR').show();"
                                                style="display: none" disabled
                                                class="form-control technic_driver_CR {{ technic_driver.title_short }} at_{{ conflict_at.id }} p-1">
                                            <option value="">--Любой свободный--</option>
                                            {% for technic_sheet in technic_driver.technic_sheets %}
                                                
                                                <option {% if conflict_at.technic_sheet.id == technic_sheet.id %}selected{% endif %} 
                                                        {% if technic_sheet.count_application == 0 %}style="color: green" {% elif technic_sheet.count_application > 0 %}style="color: #d70b1c"{% endif %}
                                                        value="{{ technic_sheet.id }}"
                                                    >{{ technic_sheet.driver_sheet.driver.last_name }} ( <span
                                                >{% if technic_sheet.count_application == 0 %}Свободен {% elif technic_sheet.count_application > 0 %}Занят{% endif %}</span> )</option>
                                              
                                            {% endfor %}
                                        </select>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-title">
                            <div class="card-body input-group p-1">
                                <div class="col-auto input-group-text p-1"
                                        {% if conflict_at.technic_sheet.id in priority_id_list %}
                                            {% for ts_id, color in color_list.items %}
                                                {% if conflict_at.technic_sheet.id == ts_id %}
                                     style="border: solid 2px {{ color }}"
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}>
                                    <input class="fs-5 fw-bolder p-1"
                                           name="{{ conflict_at.id }}_priority"
                                           onchange="$('#div_submit_for_CR').show();"
                                           style="width: 52px"
                                           aria-label=""
                                           type="number" min="1" max="10" value="{{ conflict_at.priority }}">
                                </div>

                                <div class="col ms-1">
                                    <span class="fw-bolder small ms-2"
                                    >{{ conflict_at.application_today.construction_site.address }}</span>
                                    {% if conflict_at.application_today.construction_site.foreman %}<span class="small"
                                    >({{ conflict_at.application_today.construction_site.foreman }})</span>
                                    {% endif %}

                                    <textarea class="form-control p-1 text_area_description"
                                              name="{{ conflict_at.id }}_description"
                                              oninput="autoResize(this);$('#div_submit_for_CR').show();"
                                              aria-label="">{{ conflict_at.description }}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
    
    
    <div id="div_submit_for_CR"
         class="container position-fixed translate-middle-x bottom-0 start-50"
         style="margin-bottom: 4rem; width: max-content; display: none;">
        <button id="btn_submit_for_CR" type="submit" form="conflict_resolution_form" 
                style=" box-shadow: 2px 2px 10px 2px;" 
                class="btn btn-warning">Сохранить изменения</button>
    </div>
    
{% endblock %}

{% block footer %}
    <div></div>
    <div>
        <a href="{% url 'dashboard' %}?current_day={{ current_day.date.isoformat }}"
           class="btn btn-success">На главную страницу</a>
        <a href="{% url 'conflicts_list' %}?current_day={{ current_day.date.isoformat }}"
           class="btn btn-primary">Назад</a>
    </div>
    <div></div>
{% endblock %}

